html {
    margin: 0;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
    padding: 0;
    font: normal 12px/1.5 sans-serif; /* 1 */
}
header {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    background-color: transparent;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    padding: 10px; /* 2 */
}

button,
input { /* 1 */
    overflow: visible;
}
button,
select { /* 1 */
    text-transform: none;
}
